@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html, body {
    margin: 0;
    height: 100%;
    /* overflow: hidden; */
}


body {
    background: url("./background.png.png")
}

.main {
    background: #cccccc;
    width: 550px;
    height: 175px;
    margin: 30px auto;
    position: relative;
    padding: 10px;
}

.badge {
    background: #ee6666;
    color: white;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    top: -15px;
    left: 40%;

}

.links {
    font-family: sans-serif ;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.link1 {
    text-align: center;
    padding: 50px;
}

.clock {
    background: #ebebeb;
    text-align: center;
    font-size: 80px;
    height: 80%;
    padding-top: 10px;
    font-family: barriecito;
    border-radius: 4px;
}

.youtube {
    text-align: center;
    padding: 10px;
    margin: 10px;

}
 
.btn  {
    padding: 10px;
    margin: 10px;
    border-color: #000000!important;
    background-color:#D3D3D3 !important;
    color: #000000 !important;

}


.usersCall {
    text-align: center;
}